body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}
button{
    cursor: pointer;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
}
.logo_text{
    color: #2e2f42;
}
.on_the_main{
    font-weight: 500;
    color:  #2e2f42;
}
a:hover, a:focus{
    color: #404bbf;
}
.contact_information{
    font-style: normal;
}
.address{
    letter-spacing: 0.02em;
    color:  #434455;
}