body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}
button{
    cursor: pointer;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
}
.logo_text{
    color: #2e2f42;
}
.navigation{
    font-weight: 500;
    color:  #2e2f42;
    letter-spacing: 0.02em;
}
a:hover, a:focus{
    color: #404bbf;
}
.contact_information{
    font-style: normal;
}
.address{
    letter-spacing: 0.02em;
    color:  #434455;
}
.effective-solutions{
    background-color: #2e2f42;
}
.first_level_header{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}
.order{
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.order:hover, .order:focus{
    background-color: #404BBF;
}

.heading_of_the_second_section{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.plan_p{
    letter-spacing: 0.02em;
}

.bottom_of_page{
    background-color:  #2e2f42;
}
.logo_footer{
    color: #f4f4fd;
}
.bottom_of_page_p{
    color: #F4F4FD;
    letter-spacing: 0.02em;
}